.estilizando {
  background-color: white; 
  font-family: Arial, sans-serif; 
  padding: 20px; 
  color: #333; 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

h1 {
  font-size: 2rem; 
  color: #333; 
}

p {
  font-size: 1.2rem; 
  color: #420606; 
}


